.rethink-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
  color: black;
  position: relative;
  border-bottom: 1px solid #dcdcdc;

  h1 {
    font-size: 38px;
    vertical-align: center;
  }

  .val-al{
    display: flex;
    align-items: center !important;
    justify-content: center;
  }

  .inner-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  #cursor {
    background-color: rgb(15 23 42);
    font-size: 40px;
    animation: blink 1s infinite;
    margin-left: 15px;
    font-weight: 400 !important;
    width: 2px;
    height: 35px;
    margin-bottom: 10px;
  }

  @keyframes blink {
    0%, 100% {
      background-color: transparent;
    }
    50% {
      background-color: rgb(15 23 42);
    }
  }
}


