.footer {
position: absolute;
  bottom: 0;
display: flex;
justify-content: space-between;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 20px;
  color: #acacac;

  i{
    cursor: pointer;
   &:hover{
     transform: scale(1.2);
   }
  }

}


