@font-face {
    font-family: 'HelveticaNeueLTStd';
    src: url('../HelveticaNeueLTStd-Bd.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: HelveticaNeueLTStd , sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: white;
    color: black;
    position: relative;
}
