.assimilating-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
  color: black;
  position: relative;
  border-bottom: 1px solid #dcdcdc;
  h1{
    font-size: 38px;
  }

  .inner-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }


  .line-container5 {
    width: 5vw;
    height: 38vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: absolute;
    bottom: 0px;
  }

  .animated-line5 {
    width: 5vw;
    height: 0;
    background-color: black;
    animation: lineAnimation5 2s ease-in-out forwards;
    animation-timeline: scroll();
    animation-range-start: 70%;
    animation-range-end: 80%;
  }

  @keyframes lineAnimation5 {
    from {
      height: 0%;
    }
    to {
      height: 100%;
    }
  }

}



