.line-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: white;
  position: relative;

  h1 {
    font-size: 38px;
  }

  .inner-box1 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    z-index: 1;
    background-color: black;
  }

  .line-container0 {
    width: 2px;
    height: 45vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: absolute;
    top: 0px;
  }

  .animated-line0 {
    width: 2px;
    height: 0;
    background-color: white;
    animation: lineAnimation0 2s ease-in-out forwards;
    animation-timeline: scroll();
    animation-range-start: 27%;
    animation-range-end: 36%;
  }

  @keyframes lineAnimation0 {
    from {
      height: 0%;
    }
    to {
      height: 100%;
    }
  }

  .line-container {
    width: 270px;
    height: 2px;
    display: flex;
    justify-content: flex-start;
  }

  .animated-line {
    width: 0;
    height: 2px;
    background-color: white;
    animation: lineAnimation 2s ease-in-out forwards;
    animation-timeline: scroll();
    animation-range-start: 27%;
    animation-range-end: 36%;
  }

  @keyframes lineAnimation {
    from {
      width: 0%;
    }
    to {
      width: 100%;
    }
  }

  .line-container2 {
    width: 5px;
    height: 55vh;
    display: flex;
    align-items: flex-start;
    position: absolute;
    bottom: -42px;
    rotate: 20deg;
    left: 54vw;
  }

  .animated-line2 {
    width: 2px;
    height: 0;
    background-color: white;
    animation: lineAnimation2 2s ease-in-out forwards;
    animation-timeline: scroll();
    animation-range-start: 33%;
    animation-range-end: 45%;
  }

  @keyframes lineAnimation2 {
    from {
      height: 0%;
    }
    to {
      height: 100%;
    }
  }

}



